# # # # # # # # # # # # # # # # # # # # #
#                                       #
#         configfile.properties         #
#                                       #
# # # # # # # # # # # # # # # # # # # # #

# “Excel指令”文件的“Excel指令”sheet 的名称
INSTRUCTION_SHEET_NAME=Instruction

# “Excel指令”文件的 SQL数据 sheet 的名称
SQL_SHEET_NAME=SQL

# “Excel指令”文件的 配置信息 sheet 的名称
SETTING_SHEET_NAME=setting

# WebDriver 超时时间
# 20 * 1000 = 20000
WEBDRIVER_TIMEOUT=20000

# 默认下载轮询间隔，单位毫秒
DEFAULT_DOWNLOAD_POLLING_INTERVAL=1000

# 默认下载超时时间，单位毫秒
# 2 * 60 * 1000 = 120000
DEFAULT_DOWNLOAD_TIMEOUT=120000
